.myElement {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.beautifilDiv {
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background-color: #427fed;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  color: #fff;
}
